<div style="text-align:center">
  <h1>
    Welcome to the Dojo Weather Forecast!
  </h1>
  <button [routerLink]="['/']">Home</button>
  <button [routerLink]="['/burbank']">Burbank</button>
  <button [routerLink]="['/chicago']">Chicago</button>
  <button [routerLink]="['/dallas']">Dallas</button>
  <button [routerLink]="['/sanjose']">San Jose</button>
  <button [routerLink]="['/seattle']">Seattle</button>
  <button [routerLink]="['/washington']">Washington</button>
  <router-outlet></router-outlet>
</div>
